* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  color: white;
}
.container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25vw;
  height: 30vw;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
}
.screen {
  width: 100%;
  height: 25%;
  background-color: #383737;
  font-size: 5em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
}
.buttons {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.button {
  width: 25%;
  height: 20%;
  border: 0.5px solid #505050;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.clear {
  width: 75%;
  background-color: #505050;
  border: 0.5px solid #505050;
  text-transform: uppercase;
  cursor: pointer;
}
.operator,
.equal {
  background-color: #ff9500;
  cursor: pointer;
}
.number {
  background-color: #7e7e7c;
  cursor: pointer;
}
.zero {
  width: 50%;
}
