* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25vw;
  height: 30vw;
  display: flex;
  flex-wrap: wrap;
}
.screen {
  width: 100%;
  height: 20%;
  background-color: #1c1c1c;
}
.buttons {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.button {
  width: 25%;
  height: 20%;
  border: 0.5px solid #98999b;
}
.clear {
  width: 75%;
  background-color: #505050;
  border: 0.5px solid #505050;
}
.operator {
  background-color: #ff9500;
}
.number {
}
.zero {
}
