
body {
  font-family: 'Oswald', sans-serif;
  background-color: gray;
  color: rgba(255, 250, 250, alpha);
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 50px;
}
.resultValue {
  font-size: 30px;
  padding: 5%;
  font-weight: bold;
}
.button-container {
  
}
button {
  width: 100px;
  height: 30px;
  margin: 20px;
  border-radius: 5px;
  background-color: azure;
  cursor: pointer;
  outline: none;
  box-shadow: 1px 3px 0 rgb(0, 0, 0, 0.5);
}
button:active {
  box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
}

button:hover:first-child {
  background-color: crimson;
}
button:hover:nth-child(2) {
  background-color: hotpink;
}

button:hover:last-child {
  background-color: cyan;
}
