* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Comic Neue', cursive;
  background-color: #eee;
  color: white;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background-color: #74b9ff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 2rem;
  font-weight: bold;
}
.result {
  font-size: 2rem;
  margin: 0.5em 0;
}
.button-container {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1em 0;
}
/* .button 클래스로 접근해도 무방 : 일반적으로 스타일은 클래스 셀렉터를 사용한다.*/
button {
  all: unset;
  width: 100px;
  height: 30px;
  padding: 0.5em 1em;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
}
button:active {
  transform: scale(1.1);
}
button:first-child {
  background-color: #34495e;
}
button:nth-child(2) {
  background-color: #16a085;
}
button:last-child {
  background-color: #e74c3c;
}
